{% comment %} static path needs to be loaded for the tag to work {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static "myapp/style.css" %}" />
        <title>Document</title>
    </head>
    <body>
        <ul>
            {% for item in item_list %}
                <li>
                    {% comment %} Using dynamic url instead of hard coding it.
                    (namespace:urlname) {% endcomment %}
                    <a href=" {% url 'myapp:detail' item.id %} ">{{ item.item_name }} - {{ item.item_price }} - {{
                    item.item_desc }}</a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
