{% extends "myapp/base.html" %}
{% comment %} {% load cache %} {% endcomment %}
{% load custom_filters %}
{% block body %}
    <div>
        {% comment %} {% cache 900 page_obj %} {% endcomment %}
        {% for item in page_obj %}
            <div class="m-10 flex w-1/2 mx-auto">
                <div>
                    <img class="w-64 rounded-lg" src="{{ item.item_image }}" alt="" />
                </div>
                <div class="mx-16">
                    <div class="font-bold">{{ item.item_name | upper }}</div>
                    <div>{{ item.item_desc | lower | truncatechars:30 }}</div>
                    <div>{{ item.user_name }}</div>
                    <div>Added {{ item.created_at | timesince }} ago</div>
                    <div class="text-green-700 font-bold">{{ item.item_price | currency }}</div>
                </div>
                <div>
                    <div>
                        <a class="bg-red-500 text-white font-bold px-4 py-2 rounded-md"
                           href=" {% url 'myapp:detail' item.id %} ">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% comment %} {% endcache %} {% endcomment %}
</div>
<div class="flex items-center justify-center space-x-4 py-4">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"
           class="px-4 py-2 rounded-lg bg-gray-200 text-gray-700 hover:bg-gray-300 transition">Previous</a>
    {% endif %}
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"
           class="px-4 py-2 rounded-lg bg-gray-200 text-gray-700 hover:bg-gray-300 transition">Next</a>
    {% endif %}
</div>
{% endblock body %}
